.dialogs{
    display: grid;
    grid-template-columns: 2fr 10fr;
}
.messages {
    padding: 10px;
    text-align: right;
}


.dialogsItems {
    padding: 10px;

}

.dialogsItems .active {
    color: gold;
}
